.asc {
  cursor: pointer;
  position: relative;
  padding-right: 1.2em;
}

.desc {
  cursor: pointer;
  position: relative;
  padding-right: 1.2em;
}

.asc::after {
  content: '';
  position: absolute;
  right: 0.4em;
  top: 45%;
  transform: translateY(-50%);
  border: 0.3em solid transparent;
  border-bottom: 0.4em solid currentColor;
}

.desc::after {
  content: '';
  position: absolute;
  right: 0.4em;
  top: 55%;
  transform: translateY(-50%);
  border: 0.3em solid transparent;
  border-top: 0.4em solid currentColor;
}